<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a href="/todos"><button type="button" class="btn btn-default navbar-btn pull-left">
        <span class="glyphicon glyphicon-chevron-left remove"></span>
      </button></a>
      <h1 class="nowrap title"> &nbsp; &nbsp; {{title}}</h1>
    </div>
</nav><br/><br/>
<br/>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

<h1 style="font-family: Lobster;">Let's go Home:</h1><br/><br/>

<a href="/todos"><img height="200px" src="https://i.pinimg.com/736x/3e/6c/de/3e6cde96da751668680d6b7c119a8793--cute-piggies-belles-images.jpg" alt="Searching Pig" /></a>
