<div class="min-standard">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a href="/todos"><button type="button" class="btn navbar-btn pull-left top-btn">
      <span class="glyphicon glyphicon-chevron-right remove" style="color:black;"></span>
      </button></a>
    </div>
</nav>

<div class="jumbotron no-radius" style="width:100%;">
  <h1 class="nowrap special-title"> &nbsp; &nbsp; {{title}}</h1>
</div>

<div class="hero-div">
  <figure>
      <a href="/todos/"><button type="button" class="btn btn-unique btn-lg btn-main">
      <div class="front-format"><span class="glyphicon glyphicon-list-alt top-pad" aria-hidden="true"></span> &nbsp; <div style="padding:4px;">See Your Todos</div>
      </button></a>
  </figure>
</div>
</div>

<br/><br/><br/>

<div class="container hero-div">
  <div class="row">

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <h2 class="index-title">Made in Silicon Valley</h2>
      <p class="index-content">Using <a href="https://nodejs.org/en/" target="_blank">Node.js v8.5</a>, <a href="http://expressjs.com/" target="_blank">Express</a>, <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap 4</a> with Material Design,
        <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>, <a href="https://nodemailer.com/about/" target="_blank">Nodemailer</a>, <a href="https://www.google.com/recaptcha/intro/" target="_blank">Recaptcha</a>, and <a href="https://www.mongodb.com/" target="_blank" >MongoDB</a> hosted by <a href="https://mlab.com/" target="_blank">mLab.</a></p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p><br/>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <h2 class="index-title">Pretty Colors</h2>
      <p class="index-content">This project provides information with colors such as blue, green, and red. The app also has a variety of shiny and clickable buttons.</p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p><br/>
   </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <h2 class="index-title">New Features</h2>
      <p class="index-content">New features are occasionally released without announcement. Some of these new features may be improvements.</p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p><br/>
    </div>
  </div>

  <hr>
  </div></div>
  <footer>
    <br/>
    <div class="row col-12 col-xs-12 col-md-12 col-xl-12 col-lg-12" style="text-align:center;">
      <a href="todos/contact/form" class="nowrap special-title-plus btn-hidden btn-2" style="text-align:center;">Drop Us A Note! Share Your Ideas</a>
      <br/>
    </div>
    <br/>
      <p class="footer-content">&copy; 2017 Tyler Norkus, <a href="https://github.com/tnork">NorkTech</a></p>
  </footer>
