<div style="min-width:320px;">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a href="/todos"><button type="button" class="btn navbar-btn pull-left top-btn">
      <span class="glyphicon glyphicon-chevron-right remove" style="color:black;"></span>
      </button></a>
      <h1 class="nowrap title"> &nbsp; &nbsp; {{title}}</h1>
    </div>
</nav>

<div class="jumbotron no-radius" style="width:100%;">
  <div class="container-fluid" style="width:100%;">
    <h1 style="text-align:center">Welcome to Todo Depot</h1>
  </div>
</div>

<div class="hero-div">
  <figure>
      <a href="/todos/"><button type="button" class="btn btn-unique btn-lg btn-main">
      <div style="font-size:15px;padding:6px;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> &nbsp; See Your Todos</div>
      </button></a>
  </figure>
</div>
</div><br/><br/>

<div class="container hero-div">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <h2 class="index-title">Made in America</h2>
      <p class="index-content">Handcrafted in Silicon Valley with <a href="https://nodejs.org/en/" target="_blank">Node.js v8.5</a>, <a href="http://expressjs.com/" target="_blank">Express</a>, <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap 4</a>,
        <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>, and <a href="https://www.mongodb.com/" target="_blank" >MongoDB NoSQL</a> hosted by <a href="https://mlab.com/" target="_blank">mLab.</a></p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <h2 class="index-title">Pretty Colors</h2>
      <p class="index-content">This project uses colors such as blue, green, and red to provide information. The app also features a variety of clickable buttons.</p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p>
   </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <h2 class="index-title">New Features</h2>
      <p class="index-content">New features are occasionally released without announcement. Some of these new features may be improvements.</p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p class="footer-content">&copy; 2017 Tyler Norkus, <a href="https://github.com/tnork">NorkTech</a></p>
  </footer>
</div>
</div>
