<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <h1 style="font-family: Lobster; color: red;">{{title}}</h1>
    </div>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 style="text-align:center">Welcome to Todo Depot</h1><br/>
    <p style="text-align:center">Be a productive pig today!</p>
  </div>
</div><br/>

<div class="container">
  <p style="text-align:center;"><a href="/todos"><img height="200px" src="https://s-media-cache-ak0.pinimg.com/originals/f8/0f/53/f80f5318eebcf0cae4315aa3451750a9.jpg" /></p></a>
    <br/><p style="text-align:center;">
      <a href="/todos"><button type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> See All
      </button></a>
    &nbsp; &nbsp;
        <a href="/todos/new"><button type="button" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create New
      </button></a></p>
</div><br/>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Made in America</h2>
      <p>Handmade in Silicon Valley with locally sourced <a href="https://nodejs.org/en/">Node.js v8.5</a>, <a href="http://expressjs.com/">Express</a>, <a href="http://getbootstrap.com/">Twitter Bootstrap 4</a>,
        <a href="http://handlebarsjs.com/">Handlebars</a>, and <a href="https://www.mongodb.com/">MongoDB NoSQL</a> hosted by <a href="https://mlab.com/">mLab.</a></p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Pretty Colors</h2>
      <p>This project uses colors such as blue, green, and red to provide information. In addition to colors, it features a variety of buttons that are clickable.</p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Cute Pigs</h2>
      <p>Pigs get things done. Like todos. You should be more like a pig. <br/>No animals were harmed in the development of this project.</p>
      <p><a class="btn btn-danger" href="/todos" role="button">Get Started &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2017 Tyler Norkus, NorkTech</p>
  </footer>
</div>
