<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a href="/todos"><button type="button" class="btn btn-default navbar-btn pull-left">
        <span class="glyphicon glyphicon-chevron-left remove"></span>
      </button></a>
      <h1 class="nowrap" style="font-family: Lobster; color: red;"> &nbsp; &nbsp; {{title}}</h1>
    </div>
</nav><br/><br/>

<form class="form" action="/todos" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" value="" placeholder="Enter a todo" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" rows="5" name="description" id="description" value="" placeholder="Enter a description (optional)" onkeyup="{function () {textarea.style.height = textarea.clientHeight + 'px';}}"></textarea>
  </div>

  <div class="form-group">
    <label for="priority" id="priority">Select Priority:</label>
    <select class="form-control" id="priority" name="priority">
      <option value="1" id="1" key="1"> 1 </option>
      <option value="2" id="2" key="2"> 2 </option>
      <option value="3" id="3" key="3"> 3 </option>
      <option value="4" id="4" key="4"> 4 </option>
      <option value="5" id="5" key="5"> 5 </option>
    </select>
  </div>

  <div class="form-group">
    <label for="inProgress" id="inProgress">In Progress:</label>
    <select class="form-control" id="inProgress" name="inProgress">
      {{#select doc.inProgress}}
      <option value="false" id="notinProgress" key="false">Not In Progress</option>
      <option value="true" id="inProgress" key="true">In Progress</option>
      {{/select}}
    </select>
  </div>

<br/>
<button type="submit" name="button" class="btn btn-danger btn-lg">
<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>  &nbsp; Save Your Todo!
</button></a>

<br/><br/><br/>

</form>
