<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header-double">
      <a href="/todos"><button type="button" class="btn navbar-btn pull-left top-btn">
        <span class="glyphicon glyphicon-chevron-left remove" style="color:black;"></span>
      </button></a>
      <h1 class="nowrap title"> &nbsp; &nbsp; {{title}}</h1>
    </div>
</nav><br/><br/>

<form class="form" action="/todos" method="post">
  <div class="form-group limited">
    <label for="title" class="edit-default">Title:</label>
    <input type="text" maxlength="44" class="form-control"  style="font-size:13px;" name="title" id="title" value="" placeholder="Enter a todo" required>
  </div>

  <div class="form-group">
    <label for="description" class="edit-default">Description:</label>
    <textarea type="text" class="form-control edit-default" style="font-size:13px;" rows="5" name="description" id="description" value="" placeholder="Enter a description (optional)" onkeyup="{function () {textarea.style.height = textarea.clientHeight + 'px';}}"></textarea>
  </div>

  <div class="form-group">
    <label for="priority" id="priority" class="edit-default">Select Priority:</label>
    <select class="form-control edit-default" id="priority" name="priority">
      <option value="1" id="1" key="1"> 1 </option>
      <option value="2" id="2" key="2"> 2 </option>
      <option value="3" id="3" key="3"> 3 </option>
      <option value="4" id="4" key="4"> 4 </option>
      <option value="5" id="5" key="5"> 5 </option>
    </select>
  </div>

  <div class="form-group">
    <label for="inProgress" id="inProgress" class="edit-default">In Progress:</label>
    <select class="form-control edit-default" id="inProgress" name="inProgress">
      {{#select doc.inProgress}}
      <option value="false" id="notinProgress" key="false" class="edit-default">Not In Progress</option>
      <option value="true" id="inProgress" key="true" class="edit-default">In Progress</option>
      {{/select}}
    </select>
  </div>

<br/>
<button type="submit" name="button" class="btn btn-danger btn-lg">
<span class="glyphicon glyphicon-floppy-disk edit-default" aria-hidden="true"></span>  &nbsp; Save Your Todo
</button></a>

<br/><br/><br/>

</form>
