<div id="main-nav"></div><br/>

<form class="form" action="/todos" method="post" style="margin-right:1px;">
  <div class="form-group limited">
    <label for="title" class="edit-default">Title:</label><br/><br/>
    <input type="text" class="form-control option-md" name="title" id="title" placeholder="Enter a todo" required>
  </div>

  <div class="form-group" style="margin-right:8px;">
    <label for="description" class="edit-default">Description:</label><br/><br/>
    <input value="{{doc.description}}" type="text" class="form-control option-md" rows="5" name="description" id="description" placeholder="Enter a description" required></div>
 </div>

  <div class="form-group">
    <label for="priority" id="priority" class="edit-default">Select Priority:</label><br/><br/>
    <select class="form-control edit-default elevate" id="priority" name="priority" >
      <option value="1" id="1" key="1" class="select-item"> 1 </option>
      <option value="2" id="2" key="2" class="select-item"> 2 </option>
      <option value="3" id="3" key="3" class="select-item"> 3 </option>
      <option value="4" id="4" key="4" class="select-item"> 4 </option>
      <option value="5" id="5" key="5" class="select-item"> 5 </option>
    </select>
  </div>

  <div class="form-group">
    <label for="inProgress" id="inProgress" class="edit-default">In Progress:</label><br/><br/>
    <select class="form-control edit-default elevate" id="inProgress" name="inProgress">
      {{#select doc.inProgress}}
      <option value="false" id="notinProgress" key="false" class="select-item">Not In Progress</option>
      <option value="true" id="inProgress" key="true" class="select-item">In Progress</option>
      {{/select}}
    </select>
  </div>
<br/>

  <button type="submit" name="button" class="btn btn-danger btn-lg">
  <span class="glyphicon glyphicon-floppy-disk edit-default" aria-hidden="true"></span>  &nbsp; Save Your Todo
  </button></a>
</form>

<br/><br/><br/>

<script>
document.addEventListener('DOMContentLoaded', function navLaunch() {
var is_safari = navigator.vendor && navigator.vendor.indexOf('Apple') > -1 &&
               navigator.userAgent && !navigator.userAgent.match('CriOS');
if(!is_safari) {
  navBar = "<nav class='navbar navbar-inverse navbar-fixed-top'> <div class='navbar-header-double'> <a href='/todos'><button type='button' class='btn navbar-btn pull-left top-btn'> <span class='glyphicon glyphicon-chevron-left remove' style='color:black;'></span> </button></a> <h1 class='nowrap title'> &nbsp; &nbsp; {{title}}</h1> </div> </nav>";
  document.querySelector('#main-nav').innerHTML = navBar;
} else {
  navBar = "<div class='min-standard'> <nav class='navbar navbar-inverse navbar-fixed-top'> <div class='navbar-header' style='float:center;'> <a href='/todos'><button type='button' class='btn navbar-btn'> <span class='glyphicon glyphicon-chevron-left' style='color:black;margin-right:5px;'></span> </button></a> </div></nav><br/>"
  document.querySelector('#main-nav').innerHTML = navBar;
}});
</script>
