<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header-double">
      <a href="/todos"><button type="button" class="btn navbar-btn pull-left top-btn">
        <span class="glyphicon glyphicon-chevron-left remove" style="color:black;"></span>
      </button></a>
      <h1 class="nowrap title"> &nbsp; &nbsp; {{title}}</h1>
    </div>
</nav><br/><br/>

  {{#each errors}}
    <div class="alert alert-danger edit-default">{{msg}}</div>
  {{/each}}

<form class="form" action="/users/register" method="post" style="margin-right:5px;" enctype="multipart/form-data" >
  <div class="form-group">
    <label for="nameDescription" class="edit-default">Name:</label><br/><br/>
    <input type="text" class="form-control option-md" name="name" id="name" placeholder="Enter your name" required>
  </div>

  <div class="form-group" style="margin-right:4px;">
    <label for="emailDescription" class="edit-default">Email:</label><br/><br/>
    <input type="email" class="form-control option-md" name="email" id="email" placeholder="Enter your email" required>
 </div>

 <div class="form-group">
   <label for="usernameDescription" class="edit-default">Username:</label><br/><br/>
   <input type="text" class="form-control option-md" name="username" id="username" placeholder="Enter your username" required>
 </div>

 <div class="form-group">
   <label for="password1Description" class="edit-default">Password:</label><br/><br/>
   <input type="password" class="form-control option-md" name="password1" id="password1" placeholder="Enter your password" required>
 </div>

 <div class="form-group">
   <label for="password2Description" class="edit-default">Confirm Password:</label><br/><br/>
   <input type="password" class="form-control option-md" name="password2" id="password2" placeholder="Reenter your password" required>
 </div>

 <div class="form-group">
   <label for="profileImage" class="edit-default">Profile Image (Optional):</label><br/><br/>
   <input type="file" class="form-control option-md" name="profile" id="profile">
 </div>

  <button type="submit" name="button" name="submit" value="Register" class="btn btn-primary btn-lg">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>  &nbsp; Register &nbsp;
  </button></a>
</form>

<br/><br/><br/>
