<div class="min-standard">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a href="/todos"><button type="button" class="btn navbar-btn pull-left top-btn">
        <span class="glyphicon glyphicon-chevron-left remove"></span>
      </button></a>
    </div>
</nav><br/><br/><br/>

<div class="jumbotron no-radius" style="width:100%;">
  <h1 class="nowrap special-title"> &nbsp; &nbsp; {{message}}</h1>
</div>

<div class="hero-div">
  <figure>
      <a href="/"><button type="button" class="btn btn-unique btn-lg btn-main">
      <div class="front-format"><span class="glyphicon glyphicon-list-alt top-pad" aria-hidden="true"></span> &nbsp; <div style="padding:4px;">Return Home</div>
      </button></a>
  </figure>
</div>
</div>



<h1 style="font-family: Lobster;">Let's go Home:</h1><br/><br/>

<a href="/todos"><img height="200px" src="https://i.pinimg.com/736x/3e/6c/de/3e6cde96da751668680d6b7c119a8793--cute-piggies-belles-images.jpg" alt="Searching Pig" /></a>
