a {
  color: #00B7FF;
}

body {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  font: "Oswald", "Lucida Grande", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
}

button {
  margin:auto;
  display:inline-flex;
  text-align: left; !important
  align-items: left;
}

h1 {
  margin-top: 20px;
}

.left {
  text-align: left;
}

span, .badge {
  margin-left: 5px;
  padding: 10px;
  text-align: left; !important

}

textarea {
  resize: both;
}
