*{
  padding: 0;
  margin: 0;
}

@media (max-width: 645px) { }

a {
  color: #00B7FF;
}

.badge-pill {
  margin-top: 1px !important;
  margin-left: 3px !important;
  color: red !important;
  padding: 4px !important;
}

body {
  font: "Oswald", "Lucida Grande", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  min-width: 200px;
  }

button {
  margin:auto;
  display:inline-flex;
  text-align: left;
  align-items: left;
  padding-left: 1px;
  margin-bottom: 5px !important;
}

.btn-danger:hover {
  background-color: #CC0000 !important;
}

.edit-default {
  font-size: 13px;
}

.footer-content {
  font-size: 12px;
}

.hero-div{
  margin-top: -22px;
  width: 100%;
}

.hero-div figure{
  padding-top: 36.56%;  /* 702px/1920px = 0.3656 */
  display: block;
  background: url("../images/Enterprise.jpg") no-repeat center top;
  border-radius: 0px;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-div button {
  padding: 15px 50px;
  border: 0;
  background: #b20000;
  color: #fff;
  cursor: pointer;
  position: absolute; top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.hero-div button:hover{
  background: #c00;
}

.jumbo-button-wrapper {
  width:100%;
  height:400px;
  /*border:1px solid black;*/
}

.jumbo-button {
  position: relative;
  margin: -20px -50px;
  width:100px;
  top:50%;
  left:50%;
}

.jumbocontainer {
  margin-top: -10px !important;
  display: flex !important;
}

.left {
  text-align: left !important;
}

.index-content {
  font-size: 13px;
}

.index-title {
  font-size: 22px;
}

input, textarea {
  font-size: 13px;
}

.img-main {
  margin-top: -20px !important:
  overflow: hidden !important;
  height: 35% !important;
}

.panel .hover-em {
  color: #fff !important;
}

.panel-default {
  font-size: 13px;
}

.list-group:hover {
  color: black !important;
}

.list-group-item:hover {
  color: black !important;
}

nav {
  margin-bottom: 0px !important;
}

nav a {
  align-items: left;
}

nav h1 {
  padding-top: 5px !important;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    vertical-align: middle !important;
    background-color: transparent;
}

.no-radius {
  border-radius: 0px !important;
}

.nowrap {
  white-space: nowrap ;
}

.panel-heading a:hover {
  color: white !important;
  background-color: #0d47a1 !important;
  font-size: 15px;
}

.panel-body span:hover {
  background-color: #CC0000 !important;
  font-size: 12px;
}

.remove {
  margin-left: 0px !important;
  padding: 0px !important;
  text-align: left !important;
}

select {
   padding: 4px !important;
   font-size: 10px !important;
   font-weight: 475 !important;
}

span, .badge {
  margin-left: 5px;
  text-align: left !important;
}

span .label-danger {
  font-size: 12px !important;
}

span .label-danger:hover {
  font-size: 14px !important;
}


.special {
  vertical-align: middle !important;
  text-align: center !important;
  padding-left: 15px !important;
}

.super-red {
  color: #CC0000 !important;
}

textarea {
  resize: both;
}

.title {
  font-family: Lobster;
  color: #CC0000;
}
